@import '/styles/variables';

.header {
  background-color: $primary;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;

  .container {
    height: 100%;
  }

  .inner {
    position: relative;
    height: 75px;
    display: flex;
    justify-content: center;
    transition: all 0.2s ease-in-out;

    @media (min-width: 768px) {
      align-items: flex-start;
    }
  }

  .logo {
    z-index: 12;
    position: relative;
    line-height: 0;
    transition: all 0.3s ease-in;
    cursor: pointer !important;

    img {
      transition: transform 0.2s ease-in-out;
      cursor: pointer;

      @media (min-width: 768px) {
        margin-left: 0;
        margin-right: auto;
      }
    }
  }

  .mainNav {
    display: none;
    height: 100%;

    @media (min-width: 768px) {
      display: block;
      margin-left: auto;
    }

    .active {
      color: $secondary;
      font-weight: 500;
    }

    ul {
      display: flex;
      align-items: center;
      height: 100%;

      li {
        a,
        span {
          border-right: 1px solid white;
          font-weight: 500;
          font-size: 16px;
          text-transform: uppercase;
          text-decoration: none;
          line-height: 24px;
          color: #ffffff;
          transition: color 0.2s ease-in-out;
          padding: 0 15px;
          cursor: pointer;
          position: relative;
          white-space: nowrap;

          &:hover {
            color: $secondary;
          }
        }

        &:last-child {
          a {
            border-right: 0;
          }
        }
      }

      .submenu {
        position: relative;
        z-index: 10;

        a {
          position: relative;
          z-index: 11;
        }

        &:hover {
          ul {
            opacity: 1;
            visibility: visible;
          }
        }

        ul {
          flex-direction: column;
          background-color: $primary;
          position: absolute;
          padding: 15px;
          padding-top: 50px;
          top: 0;
          left: 0;
          visibility: hidden;
          opacity: 0;
          transition: all 0.2s ease-in-out;
          height: auto;

          li {
            margin-bottom: 20px;
            text-align: center;

            &:last-child {
              margin-bottom: 5px;
            }

            a {
              border-right: 0;
              padding: 0;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }

  .social {
    margin-left: 20px;
    position: relative;
    z-index: 20;

    @media (min-width: 1200px) {
      margin-left: 50px;
    }

    display: none;
    height: 100%;

    @media (min-width: 768px) {
      display: block;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 5px;
      height: 100%;

      @media (min-width: 1200px) {
        gap: 20px;
      }
    }
  }

  .menuBtn {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 15;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translateY(80px);
    transition: all 0.2s ease-in-out;

    @media (min-width: 768px) {
      display: none;
    }

    span {
      width: 50px;
      height: 5px;
      margin: 5px 0;
      background-color: $secondary;
      transition: all 0.2s ease-in;
    }

    &--active {
      span {
        &:first-child {
          transform: translateY(6px);
        }

        &:last-child {
          transform: translateY(-6px);
        }
      }
    }
  }
}

.scroll {
  .inner {
    height: 50px;
  }

  .logo {
    img {
      transform: scale(0.6) translateY(-40px);

      @media (min-width: 768px) {
        transform: scale(0.6) translateY(-40px) translateX(-40px);
      }
    }
  }

  .menuBtn {
    transform: translateY(0) !important;
  }
}
