@import '/styles/variables';

.letsTalk {
  position: relative;
  padding: 0 30px;

  @media (min-width: 768px) {
    padding: 0 60px;
  }

  .title {
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    /* identical to box height, or 116% */
    text-align: center;
    color: $primary;
    margin-bottom: 40px;
  }

  .label {
    width: 100px;
    height: 100px;
    background-color: $secondary;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: -30px;
    transform: rotate(-20deg);
    z-index: -1;
  }

  .list {
    li {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: #000000;
      position: relative;
      padding-left: 15px;

      &:before {
        position: absolute;
        content: '';
        width: 5px;
        border-radius: 50%;
        height: 5px;
        top: calc(50% - 2.5px);
        background-color: #000;
        left: 0;
      }
    }
  }
}
