@import '/styles/variables';
.forMob{
  @media (max-width: 768px) {
    background: #3725A2;
    border-radius: 20px;
    margin-left: .1px;
    margin-right: .1px;
    z-index: -1;
  }

}
.letsTalk {
  margin-top: 22px;
  margin-bottom: 22px;

  @media (max-width: 768px) {
    margin-top: 27px;
    margin-left: .4em;
    margin-right: auto;
  }
  @media (max-width: 379px) {
    margin-left: auto;
  }
  .block{
    background: url("/img/contacts/back.svg") no-repeat;
    width: 323px;
    height: 249px;
    padding: 29px 37.05px 35.6px 33.3px;
    @media (max-width: 768px) {
      margin-left: auto;
      margin-right: auto;
    }
    @media (max-width: 379px) {
      width: 320px;
      transform: scale(0.97);
    }
    .h4{
      width: 153px;
      color: black;
      font-size: 30px;
      line-height: 29px;
      font-weight: 600;
      margin-bottom: 10px;
      text-transform: uppercase;
      span{
        color:#F72585;
      }
    }
    .label {
      width: 100%;
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      color: white;
      justify-content: space-between;
      margin-bottom: 5px;
    }
    .list {
      margin-left: 1em;
      li {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #000000;
        position: relative;
        list-style: circle;
      }
    }
  }
  .FloatRight{
    margin-bottom: 22px;
    float:right;
    @media (max-width: 767px) {
      float: unset;
    }
  }




}
.h1title{
  @media (max-width: 768px) {
    display: none;
  }
}
