@import '/styles/variables';

.form {
  margin-bottom: 22px;
  @media (max-width: 767px) {
    margin-left: unset;
  }

  form{
    width: 333px;
    @media (max-width: 767px) {
      margin-left: auto;
      margin-right: auto;
    }
    @media (max-width: 379px) {
      width: 100%;
    }
    @media (max-width: 540px) {
      padding-left: unset;
    }
  }

  .field {
    width: 100%;
    margin-bottom: 11px;
    background: $background;
    @media (max-width: 767px) {
      border-radius:11px;
    }

    input {
      width: 100%;
      padding: 15px;
      font-weight: 500;
      font-size: 12.5px;
      line-height: 15px;
      border: 1px solid $primary;
      border-radius: 10px;
      background: $background;

      &:active,
      &:focus {
        background-color: rgba($secondary, 0.25);
        @media (max-width: 767px) {
          background-color: rgba(#f6f6f6, 0.85);
        }
      }
      &::placeholder{
        color: $primary;
        font-weight: 500;
      }
    }
  }

  .error {
    input {
      border-color: #dc3545;
    }
  }

  input[type='submit'] {
    border: none;
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
  }

  .submit {
    margin-top: 22px;
    margin-bottom: 22px;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 54px;
  }

  .copy {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: black;
    @media (max-width: 767px) {
      color: white;
    }
  }
}
