@import '/styles/variables';

.subscribe {
  position: relative;


  .title {
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    /* identical to box height, or 116% */
    text-align: center;
    color: $primary;
    margin-bottom: 40px;
  }

  .label {
    width: 100px;
    height: 100px;
    background-color: $secondary;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;;
    color: white;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: -30px;
    transform: rotate(-20deg);
    z-index: -1;
  }

  .list {

    li {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: #000000;
      position: relative;
      padding-left: 15px;

      &:before {
        position: absolute;
        content: '';
        width: 5px;
        border-radius: 50%;
        height: 5px;
        top: 14px;
        background-color: #000;
        left: 0;
      }
    }
  }
}

.form {

  @media (min-width: 768px) {
    padding: 0 30px;
  }

  .field {
    width: 100%;
    margin-bottom: 20px;

    input {
      width: 100%;
      padding: 15px;
      font-size: 14px;
      border: 2px solid $secondary;
      border-radius: 10px;
      background-color: rgba($secondary, .05);
      transition: background-color .2s ease-in-out;

      &:active, &:focus {
        background-color: rgba($secondary, .25);
      }
    }
  }

  .error {
    input {
      border-color: #dc3545;
    }

  }

  input[type=submit] {
    border: none;
  }

  .submit {
    margin-top: 5px;
    margin-bottom: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .copy {
    text-align: center;
    font-weight: 300;
    font-size: 13px;
    line-height: 24px;
    /* or 185% */

    text-align: center;
    letter-spacing: 0.005em;

    color: #514E4E;

  }
}