@import '/styles/variables';

.projectCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url('../../assets/img/section/mob2.jpg');
  background-size: cover;
  background-position: center;
  cursor: pointer;
  height: 100%;
  padding-top: 50px;
    padding-bottom: 50px;

  text-align: center;
  
  @media (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 100px;
  }

  a {
    text-decoration: none;
    display: block;
    
  }

  .title {
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.055em;
    color: #FFFFFF;
  }

  .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 0 100px;
  }

  .button {
    padding-left: 90px;
    padding-right: 90px;
    display: inline-block;
    margin: 0 auto;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 400px;
    justify-content: center;
    margin: 0 auto;
    
    li {
      padding: 6px 8px;
      border-radius: 40px;
      margin: 3px 3px;
      border: 1px solid #fff;
      font-style: normal;
      font-weight: 500;
      font-size: 8px;
      line-height: 10px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.005em;
      color: #FFFFFF;
  
      &:first-child {
        margin-left: 0;
      }
  
      &:last-child {
        margin-right: 0;
      }
    }
  }

}