@import '/styles/variables';

.focus {
  position: relative;

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background-color: $primary;
      background-position: 50% 50%;
      border-radius: 0px 40px 40px 0px;
      z-index: -1;
      @media (max-width: 1024px){
        width: 100%;
        height: 50%;
        border-radius: 40px 40px 40px 40px;
      }
      @media (max-width: 540px) {
        height: 30%;
      }
    }


  .content {
    position: relative;
    margin-left: 160px;
    width: 518px;
    &:first-child {
      margin-top: 20px;
      margin-bottom: 23px;
    }
    &:last-child{
      margin-bottom: 20px;
    }

    @media (max-width: 1200px) {
      margin-left: 100px;
    }
    @media (max-width: 1125px) {
      margin-left: 80px;
    }
    @media (max-width: 768px) {
      width: 50%;
      padding: 0;

      &:first-child {
        margin-right: 20px;
      }
    }

    @media (min-width: 1200px) {
      width: 100%;

    }
    .title{
      margin-bottom: 2px;
      font-size: 28px;
      line-height: 34px;
    }
    .subtitle{
      margin-bottom: 23px;
    }
    .title, .subtitle {
      @media (min-width: 768px) {
        margin-left: 60px;
      }

      @media (min-width: 1200px) {
        margin-left: 0;
      }
    }

    &:first-child:before, &:last-child:before {
      font-weight: 600;
      font-size: 72px;
      line-height: 70px;
      /* identical to box height, or 170% */
      letter-spacing: 0.005em;
      color: $secondary;
      position: absolute;
      top: -9px;
      left: 20px;

      @media (min-width: 768px) {
        left: 0;
      }

      @media (min-width: 1200px) {
        left: -52px;
      }
    }
    &:first-child:before{
      content: '1';
    }
    &:last-child:before {
      content: '2';
    }
  }

  .titleBox {
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;

    @media (max-width: 1200px) {
      margin-right: 120px;
    }
    @media (max-width: 1125px) {
      margin-right: 100px;
    }
    @media (max-width: 1024px) {
      height: 280px;
      align-items: center;
    }
  }

  .subtitle {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: $fourth;
  }

  .listSubtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: black;
  }

  .listItem {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: black;
  }
}
.h1title{
  font-size: 100px;
  line-height: 121px;
  font-weight: 500;
  width: fit-content;
  color: #ffffff;
  text-align: center;
  @media (max-width: 820px) {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 0.005em;
  }
}