@import '/styles/variables';

.focus {
  position: relative;
  @media (max-width: 767px) {
    margin-top: 20px;
  }
  @media (min-width: 767px) {
    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background-color: $primary;
      background-position: 50% 50%;
      border-radius: 0px 40px 40px 0px;
      z-index: -1;
    }
  }


  .content {
    position: relative;
    margin-left: 120px;
    width: 518px;
    &:first-child {
      margin-top: 20px;
      margin-bottom: 23px;
    }
    &:last-child{
      margin-bottom: 20px;
    }
    ul{
      width: fit-content;
      @media (min-width: 1024px) {
        margin-left: 55px;
      }
      li{
        width: 455px;
        @media (max-width: 1200px) {
          width: 360px;
        }
        @media (max-width: 1080px) {
          width: 340px;
        }
        @media (max-width: 1024px) {
          width: 100%;
        }
      }
    }
    @media (max-width: 1279px) {
      margin-left: 100px;
    }
    @media (max-width: 1023px) {
      margin-left: 20.5%;
      padding-right: 1em;
      width: 90%;
    }

    @media (min-width: 1200px) {
      width: 100%;

    }
    @media (max-width: 767px) {
      &:first-child {
        margin-top: unset;
        margin-bottom: 46px;
      }
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      &:last-child{
        margin-bottom: unset;
      }
    }

    .title{
      margin-bottom: 2px;
      font-size: 28px;
      line-height: 34px;
      @media (max-width: 767px) {
        font-size: 20px;
        line-height: 24px;
      }
    }
    .contentTitle{
      display: flex;
      margin-bottom: 23px;
      @media (max-width: 767px) {
        margin-bottom: 19px;
      }
      .number{
        font-weight: 600;
        font-size: 72px;
        line-height: 70px;
        letter-spacing: 0.005em;
        color: $secondary;
        margin-right: 14px;
        @media (max-width: 767px) {
          font-size: 60px;
          line-height: 47px;
        }
      }
      .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

    }
    //&:first-child:before, &:last-child:before {
    //  font-weight: 600;
    //  font-size: 72px;
    //  line-height: 70px;
    //  /* identical to box height, or 170% */
    //  letter-spacing: 0.005em;
    //  color: $secondary;
    //  position: absolute;
    //  top: -9px;
    //  left: -52px;
    //  @media (max-width: 1023px) {
    //    left: -45px;
    //  }
    //  @media (max-width: 768px) {
    //    top:-3px;
    //    font-size: 60px;
    //    line-height: 47px;
    //    left: -20px;
    //  }
    //}
    //&:first-child:before{
    //  content: '1';
    //}
    //&:last-child:before {
    //  content: '2';
    //}
  }


  .subtitle {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: $fourth;
    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 15px;
    }
  }

  .listSubtitle {
    font-weight: 500;
    letter-spacing: unset;
    @media (max-width: 767px) {
      margin-bottom: 8px;
    }
  }

  .listItem {
    letter-spacing: unset;
  }
}
