.mob{
  @media (max-width: 767px) {
    display: none;
    padding-bottom: unset;
    padding-top: unset;
  }
}

.Steps{
  border-width: 1px 0px;
  border-style: solid;
  border-color: #D0D0D0;
  border-radius: 30px;
  .Text{
    margin-top: 64px;
    margin-bottom: 34px;
    margin-left: 34.5px;
    flex-direction: row;
    @media (max-width: 1199px) {
      margin-top: 46px;
      margin-left: 20px;
    }
    @media (max-width: 1023px) {
      margin-top: 30px;
      margin-left: 5px;
    }

    .ASO{
      &:hover{
        .textPoints, p{
          color: #3725A2;
          transition: color 2s;
        }
      }
    }

    a{
      width: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      &:nth-child(1){
        margin-right: 118px;
        @media (max-width: 1399px) {
          margin-right: 46px;
        }
        @media (max-width: 1199px) {
          margin-right: 33px;
        }
        @media (max-width: 1023px) {
          margin-right: 20px;
        }
        p{
          width: 132px;
          @media (max-width: 1023px) {
            width: 110px;
          }
        }
      }
      &:nth-child(2){
        margin-right: 98px;
        @media (max-width: 1399px) {
          margin-right: 46px;
        }
        @media (max-width: 1199px) {
          margin-right: 33px;
        }
        @media (max-width: 1023px) {
          margin-right: 20px;
        }
        p{
          width: 192px;
          @media (max-width: 1199px) {
            width: 172px;
          }
          @media (max-width: 1023px) {
            width: 120px;
          }
        }
        .line{
          left: -162px;
          @media (max-width: 1399px) {
            left: -90px;
          }
          @media (max-width: 1199px) {
            left: -78px;
          }
          @media (max-width: 1023px) {
            left: -58px;
          }
          .inLine{
            width: 237px;
            @media (max-width: 1399px) {
              width: 165px;
            }
            @media (max-width: 1199px) {
              width: 142px;
            }
            @media (max-width: 1023px) {
              width: 100px;
            }
          }
        }
      }
      &:nth-child(3){
        margin-right: 93px;
        @media (max-width: 1399px) {
          margin-right: 46px;
        }
        @media (max-width: 1199px) {
          margin-right: 33px;
        }
        @media (max-width: 1023px) {
          margin-right: 20px;
        }
        .line{
          left: -173px;
          @media (max-width: 1399px) {
            left: -120px;
          }
          @media (max-width: 1199px) {
            left: -98px;
          }
          @media (max-width: 1023px) {
            left: -62px;
          }
          .inLine{
            width: 248px;
            @media (max-width: 1399px) {
              width: 196px;
            }
            @media (max-width: 1199px) {
              width: 162px;
            }
            @media (max-width: 1023px) {
              width: 105px;
            }
          }
        }
        p{
          width: 192px;
          @media (max-width: 1199px) {
            width: 172px;
          }
          @media (max-width: 1023px) {
            width: 120px;
          }
        }
      }
      &:nth-child(4){
        margin-right: 82px;
        @media (max-width: 1399px) {
          margin-right: 46px;
        }
        @media (max-width: 1199px) {
          margin-right: 33px;
        }
        @media (max-width: 1023px) {
          margin-right: 20px;
        }
        .line{
          left: -168px;
          @media (max-width: 1399px) {
            left: -120px;
          }
          @media (max-width: 1199px) {
            left: -98px;
          }
          @media (max-width: 1023px) {
            left: -62px;
          }
          .inLine{
            width: 229px;
            @media (max-width: 1399px) {
              width: 179px;
            }
            @media (max-width: 1199px) {
              width: 136px;
            }
            @media (max-width: 1023px) {
              width: 105px;
            }

          }
        }
        p{
          width: 160px;
          @media (max-width: 1199px) {
            width: 140px;
          }
          @media (max-width: 1023px) {
            width: 120px;
          }
        }
      }
      &:last-child{
        p{
          width: 205px;
          @media (max-width: 1199px) {
            width: 180px;
          }
          @media (max-width: 1023px) {
            width: 120px;
          }
        }
      }
      .textPoints{
        height: 58px;
        display: flex;
        align-items: center;
        color: #D0D0D0;
        font-size: 24px;
        line-height: 29px;
        font-weight: 600;
        margin-bottom: 25px;
        text-align: center;
        @media (max-width: 1199px) {
          font-size: 22px;
          line-height: 27px;
        }
        @media (max-width: 1023px) {
          font-size: 18px;
          line-height: 23px;
        }
        &:last-child{
          margin-right: unset;
        }
      }
      .act{
        color: #3725A2;
      }
      .dots{
        width: 43px;
        height: 43px;
        border-radius: 80px;
        border: 1px solid #D0D0D0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 26.4px;
        @media (max-width: 1023px) {
          width: 36px;
          height: 36px;
        }

        .inDots{
          width: 23px;
          height: 23px;
          background: #D0D0D0;
          border-radius: 42.7px;
          @media (max-width: 1023px) {
            width: 16px;
            height: 16px;
          }
        }
        .active{
          background: #3725A2;
        }
      }
      .active{
        border: 1px solid #3725A2;
      }
      .line{
        width: fit-content;
        position: absolute;
        top: 103px;
        @media (max-width: 1023px) {
          top:99px
        }
        .inLine{
          height: 5px;
          background: #D0D0D0;
        }
        .active{
          background: #3725A2;
        }
      }
    }
    .fulldot{
      width: 43px;
      height: 43px;
      border-radius: 80px;
      background: #3725A2;
      margin-bottom: 26.4px;
      @media (max-width: 1023px) {
        width: 36px;
        height: 36px;
      }
    }

    p{
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      text-align: center;
      color: #D0D0D0;
      margin-block-start: unset;
      margin-block-end: unset;
      @media (max-width: 1199px) {
        font-size: 13px;
        line-height: 16px;
      }
      @media (max-width: 1023px) {
        font-size: 12px;
        line-height: 15px;
      }
    }

  }
  // новый дизайн блока сверху
  .textUnderContainer{
    margin-left: 45px;
    justify-content: space-between;
    margin-right: 35px;
    margin-bottom: 62px;
    @media (max-width: 1023px) {
      margin-right: 15px;
      margin-left: 15px;
      margin-bottom: 30px;
    }


    .text{
      display: flex;
      width: 50%;
      position: relative;
      @media (max-width: 1199px) {
        width: 40%;
      }
      &:last-child{
        width: 30%;
        @media (max-width: 1199px) {
          width: 40%;
        }
        @media (max-width: 1023px) {
          width: 45%;
        }
      }
      svg{
        margin-right: 10px;
        position: absolute;
        top: -3px;
        left:0;
      }
      p{
        padding-left: 26px;
        color: black;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        width: 494px;
        @media (max-width: 1023px) {
          font-size: 11px;
          line-height: 13px;
        }
      }
    }
  }
}
