.text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 40px;    
    letter-spacing: 0.005em;
    color: #3725A2;
    max-width: 400px;
    height: 81px;
    margin-left: 0.5em;
    @media (max-width: 540px) {
        font-size: 29px;
        line-height: 24px;
        width: 60%;
        margin: auto 15px auto;
        height: fit-content;
    }
    @media (max-width: 430px) {
        font-size: 20px;
        line-height: 24px;
        width: 60%;
        margin: auto 15px auto;
        height: fit-content;
    }
}
.img{
    width: 92px;
    height: 92px;
    @media (max-width: 430px) {
        width: 65px;
        height: 65px;
    }
}
.form{
    @media (max-width: 560px) {
        flex-direction: column;
        align-items: center;
    }
    @media (max-width: 430px) {
       flex-direction: column;
       align-items: center;
    }
    .email{
        border: 1.19069px solid #3725A2;
        border-radius: 9.9844px 0px 0px 9.9844px;
        width: 68%;
        height: 70.89px;
        @media (max-width: 560px) {
            width: 100%;
            border-radius: 15px;
        }
        input{
            height: 100%;
            border: none;
            font-size: 18px;
            @media (max-width: 560px) {
                width: 100%;
                border-radius: 15px;
            }
            &::placeholder{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 29px;
                color:#3725A2;
                text-align: center;
            }
        }
    }
    .btnsubmit{
        width: 25%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 17.8603px;
        line-height: 19px;
        /* or 107% */

        text-align: center;

        color: #FFFFFF;
        background: #F72585;
        border-radius: 0px 9.9844px 9.9844px 0px;
        @media (max-width: 560px) {
            width: 80%;
            border-radius: 15px;
            height: 50px;
            margin-top: 1em;
        }
    }
}

.error {

}

