@import '/styles/variables';

.postFull {
  .content {
    padding: 60px 20px;

    a {
      color: $primary;
      text-decoration: underline;

      &:hover {
        color: $secondary;
      }
    }


    @media (min-width: 1200px) {
      padding: 60px 180px;
    }

    h1 {
      font-size: 3.5rem;
    }

    h2 {
      font-size: 3rem;
    }

    h3 {
      font-size: 2.5rem;
    }

    h4 {
      font-size: 2rem;
    }

    h5 {
      font-size: 1.5rem;
    }

    h6 {
      font-size: 1.25rem;
    }
  }

  .block {
    margin-bottom: 30px;
    display: block;
  }

  .title {
    color: $primary;
  }

  .text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #3D3D3D;
  }

  .list {

    padding-left: 30px;

    li {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: #3D3D3D;
      padding-left: 10px;
      margin-bottom: 5px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        top: calc(50% - 2.5px);
        left: 0;
        border-radius: 100%;
        background-color: #3D3D3D;
      }
    }
  }

  .warning {
    padding: 20px;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    background-color: #fff5cf;
    position: relative;

    b, span {
      font-size: 20px;
      line-height: 30px;
      color: #3D3D3D;
    }

    &:before {
      content: '☝';
      position: absolute;
      left: -40px;
      font-size: 2rem;
    }
  }

  .code {
    padding: 30px;
    display: block;
    background: rgb(233, 235, 235);
  }

  .quote {
    padding-left: 30px;

    q {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: #3D3D3D;
      display: block;
      margin-bottom: 10px;
    }

    span {
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: #3D3D3D;
    }
  }

  .raw {
    background-color: #3D3D3D;
    padding: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: white;
    display: block;
    margin-bottom: 10px;
  }
}