@import '/styles/variables';

.ourServices {
  @media (min-width: 380px) and (max-width: 768px) {
    padding-bottom: unset;
  }
  .columns{
    width: 363px;
    padding: 0;
    margin-right: 30px;
    margin-bottom: 19px;
    @media (max-width: 768px) {
      width: 288px;
      margin-right: unset;
      margin-bottom: 30px;
      &:last-child{
        margin-bottom: unset;
      }
    }
  }
  .item {
    border: 2px solid $primary;
    height: 200px;

    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-radius: 20px;
    @media (max-width: 768px) {
      padding: 30px 15px;
      height: 108px;
      margin-bottom: 10px;
    }

    &:hover {
      background-color: $primary;

      .title {
        color: #fff;
      }
    }
  }

  .disable {
    border: 2px solid #868686;
    cursor: unset;

    &:hover {
      background-color: #fff;

      .title {
        color: #868686;
      }
    }

    .title {
      color: #868686;

    }
  }

  .title {
    color: $primary;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.005em;
    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .text {
    text-align: center;
  }
}
