@import '/styles/variables';

.ourServices {
  .columns{
    width: 346px;
    padding: 0;
    margin-right: 30px;
    margin-bottom: 19px;
  }
  .item {
    border: 2px solid $primary;
    height: 200px;

    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-radius: 20px;

    &:hover {
      background-color: $primary;

      .title {
        color: #fff;
      }
    }
  }

  .disable {
    border: 2px solid #868686;
    cursor: unset;

    &:hover {
      background-color: #fff;

      .title {
        color: #868686;
      }
    }

    .title {
      color: #868686;

    }
  }

  .title {
    color: $primary;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.005em;
  }

  .text {
    text-align: center;
  }
}