@import '/styles/variables';

.listWithIcon {
  .item {
    display: flex;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .icon {
    margin-right: 20px;
    min-width: 32px;
    min-height: 32px;

  }

  .title {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.005em;
    margin-bottom: 10px;
    color: $primary;
  }

  .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #514E4E;
  }
}