@import '/styles/variables';

.footer {
  background-color: $primary;
  padding-top: 51px;
  padding-bottom: 51px;

  @media (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 90px;
  }
  .address{
    display: flex;
    justify-content: center;
    @media (max-width: 768px){
      flex-direction: column;
      align-items: center;
    }

    .footerText {

      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: white;
      @media (max-width: 768px){
        width: 100%;
        text-align: center;
      }
      &:first-child{
        margin-right: 30px;
        @media (max-width: 768px){
          border-bottom: 1px solid #fff;
          padding-bottom: 20px;
          margin-bottom: 20px;
          margin-right: unset;
        }
      }
    }
    @media (min-width: 768px) {
      &:first-of-type {
        padding: 20px 0;
        border-bottom: 1px solid #fff;
      }

      &:last-of-type {
        padding-top: 35px;
      }
    }
  }
  .copyright{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: white;
    text-align: center;
    margin-top: 25px;
  }

  .footerNav {
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;

      @media (min-width: 768px) {
        padding-bottom: 25px;
        border-bottom: 1px solid white;
      }

      li {
        padding: 0 15px;

        @media (min-width: 768px) {
          border-right: 1px solid #fff;

          &:last-child {
            border-right: none;
          }
        }

        a {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #FFFFFF;
          text-decoration: none;
          text-transform: uppercase;

          &:hover {
            color: $secondary;
          }
        }
      }
    }
  }
}


