@import '/styles/variables';

.howItWorks {
  width: fit-content;
  float: right;
  @media (max-width: 1024px) {
    width: 80%;
    margin-left: 1em;
  }

  .list {
    padding-bottom: 50px;
    padding-top: 22px;
    margin-bottom: 50px;
    max-width: 419px;
    float: right;
    border-bottom: 1px solid $primary;
  }
  .line{
    content: '';

  }

  .item {
    display: flex;
    align-items: center;
    border: 1px solid #3725A2;
    border-radius: 15px;
    margin-bottom: 19px;
    height: 85px;
    &:last-child{
      margin-bottom: unset;
    }

  }

  .count {
    display: block;
    margin-right: 20px;
    margin-left: 25px;
    font-weight: 600;
    width: 34px;
    font-size: 50px;
    line-height: 61px;
    letter-spacing: 0.005em;
    color: $primary;
  }

  .text {
    margin-right: 15px;
  }
  .textAfter{
    width: 419px;
    margin-bottom: 22px;
    color: #3725A2;
    @media (max-width: 1024px) {
      width: 100%;
      margin-left: 1em;
    }
  }
}
.h1title{
  font-size: 100px;
  line-height: 121px;
  letter-spacing: 0.03em;
  width: fit-content;
  float: left;
  margin-left: 150px;
  color: white;
  font-weight: 500;
  @media (max-width: 1200px) {
    margin-left: 120px;
  }
  @media (max-width: 1125px) {
    margin-left: 100px;
  }
  @media (max-width: 820px) {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 0.005em;
  }
}