@import '/styles/variables';

.howItWorks {
  .list {
    padding-bottom: 20px;
    border-bottom: 1px solid $primary;
    margin-bottom: 30px;
  }

  .item {
    display: flex;
    align-items: center;
    
  }

  .count {
    display: block;
    margin-right: 45px;
    font-weight: 500;
    width: 30px;
    font-size: 80px;
    line-height: 136px;
    letter-spacing: -0.055em;
    color: $secondary;
    opacity: .5;
  }

  .text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: $primary;
  }
}