@import '/styles/variables';

.whatWeWorked {
  width: 461px;
  float: right;
  margin-top: 22px;
  margin-bottom: 22px;
  @media (max-width: 1083px) {
    padding-left: 1em;
    width: 85%;
  }

  .item {
    width: 100%;
    min-height: 85px;
    display: flex;
    align-items: center;
    border: 1px solid $primary;
    border-radius: 15px;
    padding: 0 15px;
    margin-bottom: 19px;
  }

  .icon {
    margin-right: 15px;
    line-height: 0;
    min-width: 48px;
    min-height: 48px;
  }

  .title {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: $primary;
    margin-bottom: 2px;
  }

  .links {
    display: flex;
    flex-wrap: wrap;

    li {
      margin-right: 3px;
    }
  }
}
.h1title{
  font-size: 100px;
  line-height: 121px;
  letter-spacing: 0.03em;
  width: fit-content;
  font-weight: 500;
  float: left;
  color: white;

  @media (max-width: 820px) {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 0.005em;
  }
}
.titleBox {
  display: flex;
  justify-content: flex-start;
  margin-left: 150px;

  @media (max-width: 1200px) {
    margin-left: 120px;
  }
  @media (max-width: 1200px) {
    margin-left: 100px;
  }
  @media (max-width: 1024px) {
    height: 280px;
    align-items: center;
  }
}
.left{
  flex-direction: row-reverse;
}