@import '/styles/variables';

.whatWeWorked {
  width: 70%;
  margin: 0 auto;
  @media (max-width: 820px) {
    width: 100%;
  }

  .item {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid $primary;
    border-radius: 15px;
    padding: 23px 10px 23px 20px;
  }

  .icon {
    margin-right: 30px;
    line-height: 0;
    min-width: 48px;
    min-height: 48px;
  }

  .title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: $primary;
    margin-bottom: 2px;
  }

  .links {
    display: flex;
    flex-wrap: wrap;

    li {
      margin-right: 3px;
      font-size: 14px;
      line-height: 17px;
      color: black;
      transition: color .2s ease-in;
    }
  }
}
.h1title{
  font-size: 100px;
  line-height: 121px;
  letter-spacing: 0.03em;
  width: fit-content;
  margin: 0 auto;
  @media (max-width: 820px) {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 0.005em;
  }
}
.left{
  flex-direction: row-reverse;
}