@import '/styles/variables';

.ourToolkit {
  flex-direction: column;
  
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border: 1px solid $primary;
    border-radius: 15px;
    padding: 15px;

    @media (min-width: 768px) {
      margin-bottom: 22px;
    }
    @media (max-width: 820px) {
      width: 90%!important;
    }
  }

  .icon {

    display: block;
    margin-right: 2em;
  }

  .title {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* or 120% */
    color: #3725A2;
  }

  .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* or 175% */
    color: black;
  }
}
.h1title{
  font-size: 100px;
  line-height: 121px;
  letter-spacing: 0.03em;
  width: fit-content;
  float: right;
  @media (max-width: 820px) {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 0.005em;
    padding-right: 20px;
  }
}