.SalesManager{
  @media (max-width: 430px) {
    text-align: center;
    display: block;
  }
  font-size: 30.5px;
  color:#000000;
  line-height: 37px;
  font-weight: 400;
  font-family: 'Inter', Roboto, system-ui, Tahoma, sans-serif;

}
.SalesManager span{
  margin-right: 0.4em!important;
}
.img{
  position: relative;
  width: 75%;
  float: right;
  @media (max-width: 430px) {
    float: none;
    margin: 10% auto 0 18%;
  }
    &:before{
      content: "";
      position: absolute;
      width: 116%;
      height: 91%;
      background-color: #3725A2;
      bottom: 0;
      border-radius: 3em;
      right: 0;
      @media (max-width: 430px) {
        right: -0.2em;
        border-radius: 1em;
      }
    }
}
.text{
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #000000;
  font-family: 'Inter', Roboto, system-ui, Tahoma, sans-serif;
  @media (max-width: 430px) {
    text-align: center;
    display: block;
  }
}
.color{
  color: #3725A2;
  font-size: 60px;
  font-weight: 500;
  font-family: 'Inter', Roboto, system-ui, Tahoma, sans-serif;
  @media (max-width: 430px) {
    text-align: center;
    display: block;
  }
}
.socials{
  display: flex;
  align-content: center;
  font-weight: 500;
  font-size: 17.3548px;
  line-height: 30px;
  color: #3725A2;
  margin: 5px 0;
  font-family: 'Inter', Roboto, system-ui, Tahoma, sans-serif;
  @media (max-width: 430px) {
    margin-left: 3em;
  }
  > span{
    margin-right: 9px!important;
  }

}