$background: #F6F6F6;
$text: #514E4E;
$text-white: white;
$primary: #3725A2;
$secondary: #4361EE;
$third: #F72585;
$fourth: #4361EE;
$text-grey: #44433E;
$newbackground: #F6F6F6;

$duration: 0.15s;

$height: 445px;