.big{
  display: flex;
  border-radius: 27.5px;
  background: white;
  overflow: hidden;
  padding-right: unset;
  padding-left: unset;
  width: 100%;
  height: 519px;
  position: relative;
  p, h2{
    color: black;
  }
  @media screen and (max-width: 390px){
    flex-direction: column;
    width: 95%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .imgBig{
    width: 49%;
    height: 100%;
    @media screen and (max-width: 390px){
     width: 100%;
      height: auto;
    }
    span{
      height: 100%!important;
    }

  }
  .block{
    width: 49%;
    position: relative;
    @media screen and (max-width: 390px){
      width: 100%;
    }
  }
}
.medium{
  border-radius: 27.5px;
  background: white;
  overflow: hidden;
  padding-right: unset;
  padding-left: unset;
  width: 48.8%;
  height: 550px;
  position: relative;

  p, h2{
    color: black;
  }
  @media screen and (max-width: 820px) {
    height: 470px;
  }
  @media screen and (max-width: 390px){
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}
.mediumMix{
  border-radius: 27.5px;
  background: white;
  overflow: hidden;
  padding-right: unset;
  padding-left: unset;
  width: 49.2%;
  height: 770px;
  position: relative;
  @media screen and (max-width: 390px){
    width: 95%;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
  }

  p, h2{
    color: black;
  }
}
.smallHorizont{
  border-radius: 27.5px;
  background: white;
  overflow: hidden;
  padding-right: unset;
  padding-left: unset;
  width: 48.8%;
  height: 375px;
  position: relative;
  @media screen and (max-width: 390px){
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  p, h2{
    color: black;
  }
  .imgSmallH {
    height: 147px;
    overflow: hidden;
    position: relative;
    .imgcont{
      position: absolute;
      top: -70%;
      @media screen and (max-width: 1280px){
        top:-50%
      }
      @media screen and (max-width: 820px){
        top:-18%
      }
      @media screen and (max-width: 768px){
        top:-20%
      }

    }
    span {
      height: 200%!important;
    }
  }
}

.smallVertical{
  border-radius: 27.5px;
  background: white;
  overflow: hidden;
  padding-right: unset;
  padding-left: unset;
  width: 420px;
  height: 420px;
  position: relative;
  @media screen and (max-width: 1280px) {
    width: 32%;
    height: 390px;
  }
  @media screen and (max-width: 1024px) {
    height: 360px;
  }
  @media screen and (max-width: 390px){
    width: 95%;
    margin-right: auto;
    margin-left: auto;
  }

  p, h2{
    color: black;
  }
  .imgSmallV {
    span {
      width: 100%!important;
      height: 100%!important;
    }
  }
}

.smallBlockMix{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 49.3%;
  @media screen and (max-width: 390px){
    width: 100%;
  }
  .smallHorizontMix{
    border-radius: 27.5px;
    background: white;
    overflow: hidden;
    padding-right: unset;
    padding-left: unset;
    width: 100%;
    height: 375px;
    position: relative;

    p, h2{
      color: black;
    }
    .imgSmallH {
      span {
        height: 100%!important;
      }
    }
  }
}
.img{
  position: relative;
  .lable{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 2em;
    background: #3725A2;
    border-radius: 0px 0px 14.745px 14.745px;
    width: 88.49px;
    height: 39.83px;
    text-align: center;
    span{
      color:white;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 24.3783px;
      line-height: 30px;
    }
  }
}
.mobileBlocks{
  @media screen and (max-width: 390px){
    flex-direction: column;
    height: 110%;

    div:first-child{
      margin-bottom: 1em;
    }
  }
}


.rubrikBlock{
  margin-left: 2em;
  .rubrik_around{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: #3725A2;
    width: fit-content;
    height: 19px;
    padding: 2.94899px 9.82998px;
    border-radius: 5.89799px;
    .rubrik{
      font-size: 12px;
      color: white;
      text-transform: uppercase;
    }
  }
}
.h2{
  margin-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
  .title{
    text-transform: uppercase;
  }
}
.description{
  padding: 1em 2em;
  max-height: 69%;
  overflow: hidden;
  @media screen and (max-width: 390px){
    max-height: 70%;
  }
  p{
    font-size: 14.745px;
    line-height: 18px;
    font-weight: 500;
  }
}
.footer{
  padding: 1em 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  .date{
    color: #C1C1C1;
    font-weight: 500;
    font-size: 11.796px;
    line-height: 14px;
  }
  .readmore{
    box-sizing: border-box;
    @media screen and (max-width: 820px) {
      width: 40%!important;
    }
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4.91499px;
    gap: 4.91px;
    border: 0.982998px solid #3725A2;
    border-radius: 19.66px;
    svg path{
      fill:#3725A2;
    }
    span{
      color: #3725A2;
    }
    &:hover{
      background: #3725A2;
      svg path{
        fill: white;
      }
      span{
        color: white;
      }
    }
  }
}
