@import './variables';
.adaptiveWebsite{

  .sectionH2{
    width: 498px;
    @media (max-width: 1399px) {
      width: 495px;
    }
    @media (max-width: 1199px) {
      width: 450px;
    }
    @media (max-width: 767px) {
      width: 100%;
      padding-left: 17px!important;
      padding-right: 17px!important;
    }

    .h2{
      margin-bottom: 44px;
      text-align: right;
      @media (max-width: 767px) {
        text-align: center;
      }
    }
    .version{
      position: relative;
      width: 100%;
      @media (max-width: 767px) {
        width: 346px;
        margin-left: auto;
        margin-right: auto;
      }
      @media (max-width: 380px) {
        width: 315px;
      }

      .arrowLeft, .arrowRight{
        position: absolute;
        svg{
          width: 12px;
          height: 14px;
        }
      }
      .arrowLeft{
        margin-right: 5px;
        top:6.2px;
        left:0;
      }
      .arrowRight{
        margin-left: 5px;
        top:6.2px;
        right: 0;
      }
      .line{
        position: absolute;
        width: 465px;
        height: 7px;
        background: $primary;
        border-radius: 20px;
        top:11px;
        right: 17px;
        @media (max-width: 1399px) {
          width: 461px
        }
        @media (max-width: 1199px) {
          width: 416px;
        }
        @media (max-width: 767px) {
          width: 312px;
        }
        @media (max-width: 380px) {
          width: 282px;
        }
      }
      .versions{
        display: flex;
        justify-content: center;
        margin-bottom: 7.6px;
        .icon{
          width: 50px;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-right: 69px;
          svg{
            &:first-child{
              margin-bottom: 9px;
            }
          }
          &:last-child{
            margin-right: unset;
          }
        }
      }
      .textAfter{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        span{
          text-align: center;
          font-size: 12px;
          font-weight: 400;
          line-height: 15px;
          color: rgba(0, 0, 0, 0.5);
          &:nth-child(even){
            margin-left: 27px;
            margin-right: 34px;
          }
          &:nth-child(odd){
            width: 50px;
          }
        }
      }
      .ver{
        padding: 5px;
        gap: 10px;
        width: 54px;
        height: 25px;
        border: 0.5px solid $primary;
        border-radius: 5px;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: $primary;
        margin-right: auto;
        margin-left: auto;
        @media (max-width: 767px) {
          margin-bottom: 50px;
        }
      }
    }
  }
  .sectionText{
    width: 702px;
    @media (max-width: 1399px) {
      width: 525px;
    }
    @media (max-width: 1199px) {
      width: 400px;
    }
    @media (max-width: 767px) {
      width: 100%;
      padding-right: 17px!important;
      padding-left: 17px!important;
    }
    .text{
      margin-top: 20px;
      p{
        margin-bottom: 1em;
        font-weight: 400;
        line-height: 19px;
        font-size: 16px;
        color: black;
      }
    }
    .little{
      border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
      p{
        width: 508px;
        padding-bottom: 20px;
        color: $primary;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        @media (max-width: 1199px) {
          width: 400px;
        }
        @media (max-width: 767px) {
          width: 100%;
        }
      }
    }

  }

}
.benefitsAdaptive{
  .mob{
    @media (max-width: 767px) {
      flex-direction: column-reverse;
    }
  }
  .sectionText{
    width: 693px;
    @media (max-width: 1399px) {
      width: 525px;
    }
    @media (max-width: 1199px) {
      width: 400px;
    }
    @media (max-width: 767px) {
      width: 100%;
      padding-left: 17px!important;
      padding-right: 17px!important;
    }
    h3{
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: black;
      margin-bottom: 10px;
    }
    p{
      width: 640px;
      @media (max-width: 1399px) {
        width: 100%;
      }
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: black;
      margin-bottom: 30px;
      b{
        color: black;
      }
      @media (max-width: 767px) {
        width: 100%;
        margin-bottom: 50px;
        &:last-child{
          margin-bottom: 40px;
        }
      }
    }
    button{
      background: #F72585;
      border-radius: 89.7516px;
      width: 280px;
      height: 54px;
      font-weight: 600;
      font-size: 16px;
      line-height: 14px;
      text-align: center;
      letter-spacing: 0.005em;
      text-transform: uppercase;
      color: white;
      @media (max-width: 767px) {
        margin-right: auto;
        margin-left: auto;
        display: block;
      }
    }
  }
  .sectionH2{
    width: 507px;
    @media (max-width: 1399px) {
      width: 495px;
    }
    @media (max-width: 1199px) {
      width: 460px;
    }
    @media (max-width: 767px) {
      width: 100%;
      padding-right: 17px!important;
      padding-left: 17px!important;
    }
    h2{
      margin-bottom: 14px;
      @media (max-width: 767px) {
        text-align: center;
      }
    }
    .loadingBlock{

      .percentLoad{
        color: $primary;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        font-size: 35px;
      }
      .percent {
        padding: 0;
        margin: 0 10px;
        background: transparent;
        border: none;
        color: $primary;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        font-size: 35px;
        cursor: text;
        @media (max-width: 767px) {
          width: 100%;
          margin: unset;
        }
      }
      .loading{
        width: 100%;
        height: 40px;
        border: 4px solid $primary;
        border-radius: 20px;
        .charge {
          height: 28px;
          max-width: 477px;
          margin: 2px 8px;
          background: repeating-linear-gradient(90deg, #F6F6F6, #F6F6F6 5px, $primary 1px, $primary 9px);
          animation: 3s ease-in 0s infinite;
          @media (max-width: 1399px) {
            max-width: 467px;
          }
          @media (max-width: 1199px) {
            max-width: 435px;
          }
          @media (max-width: 767px) {
            max-width: 315px;
            background: repeating-linear-gradient(90deg, #F6F6F6, #F6F6F6 3px, $primary 1px, $primary 7px);
          }
          @media (max-width: 380px) {
            max-width: 295px;
          }
        }

      }
      @media (max-width: 767px) {
        width: 346px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 40px;
      }
      @media (max-width: 380px) {
        width: 320px;
      }
    }


  }
}
.HowItWorks{
  .sectionH2{
    width: 650px;
    @media (max-width: 767px) {
      width: 100%;
      padding-left: 17px!important;
      padding-right: 17px!important;
    }
    h2{
      margin-bottom: 15px;
      @media (max-width: 767px) {
        text-align: center;
      }
    }
    p{
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;

      color: #000000;
      margin-bottom: 30px;
    }
  }
  .Blocks{
    @media (max-width: 1399px) {
      width: 100%;
    }
    @media (max-width: 767px) {
      width: 360px;
      padding-left: 6px!important;
      padding-right: 6px!important;
      margin-left: auto;
      margin-right: auto;
    }
    @media (max-width: 380px) {
      width: 346px;
    }
    .Block{
      width: 250px;
      height: 300px;
      padding: 11.837px 14.7963px;
      background: #3725A2;
      border-radius: 14.7963px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin-right: 17px;
      @media (max-width: 1399px) {
        margin-bottom: 16px;
      }

      @media (max-width: 767px) {
        padding: 7.88253px 9.85316px;
        border-radius: 9.85316px;
        width: 164px;
        height: 280px;
        margin-right: unset;
        &:nth-child(even){
          margin-left: 18px;
        }
        @media (max-width: 380px) {
          width: 158px;
          padding: 6.88253px 8.85316px;
        }

      }
      &:last-child{
        margin-right: unset;
      }
      svg{
        margin-bottom: 30px;
        @media (max-width: 767px) {
          width: 40px;
          height: 52px;
          margin-bottom: 20px;
        }
      }
      p{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: white;
        width: 198px;
        height: 85px;
        margin-bottom: 30px;

        @media (max-width: 767px) {
          width: 132px;
          height: 120px;
          margin-bottom: 20px;
        }
        @media (max-width: 380px) {
          width: 100%;
        }

      }
      button{
        padding: 10.1006px 8.08048px;
        min-width: 58px;
        min-height: 30px;
        border: 0.673373px solid #FFFFFF;
        border-radius: 4.71361px;
        font-weight: 400;
        font-size: 12px;
        line-height: 13px;
        color: white;
      }
      &:hover{
        transition: background 1s;
        background: unset;
        border: 1px solid $primary;
        svg path{
          transition: fill .5s;
          fill: $primary;
        }
        p{
          transition: color .5s;
          color: $primary;
        }
        button{
          transition: border .5s, color .5s;
          border: 0.673373px solid $primary;
          color: $primary;
        }
      }
    }
  }
}
.WDS{
  .sectionH2{
    @media (max-width: 767px) {
      padding-left: 17px!important;
      padding-right: 17px!important;
    }
    h2{
      width: 617px;
      float: right;
      text-align: right;
      @media (max-width: 767px) {
        width: 100%;
        text-align: center;
      }
    }
  }
  .lineSection{
    display: flex;
    position: relative;
    @media (max-width: 767px) {
      flex-direction: column;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .block{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 34px;
      @media (max-width: 767px) {
        margin-left: 86px;
        align-items: unset;
        margin-bottom: 34px;
        position: relative;
      }
      &:nth-child(1){
        width: 196px;
        margin-left: unset;
        @media (max-width: 767px) {
          margin-left: 86px;
        }
      }
      &:nth-child(2){
        width: 225px;
        p{
          width: 200px;
        }
        @media (max-width: 1199px) {
          width: 200px;
          p{
            width: 160px;
          }
        }
      }
      &:nth-child(3){
        width: 203px;
      }
      &:nth-child(4){
        width: 173px;
      }
      &:nth-child(5){
        width: 129px;
      }
      &:nth-child(6){
        width: 218px;
      }

      .number{
        font-weight: 700;
        font-size: 77.1034px;
        line-height: 93px;
        color: $primary;
        margin-bottom: 9px;
      }
      svg{
        margin-bottom: 9px;
        @media (max-width: 767px) {
          transform: rotate(90deg);
          position: absolute;
          left: -41px;
          top: 127px;
        }
      }
      p{
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color:$primary;
        height: 91px;
        margin-bottom: 15px;
        @media (max-width: 1399px) {
          height: 109px;
        }
        @media (max-width: 1199px) {
          height: 140px;
        }
        @media (max-width: 767px) {
          text-align: left;
          height: auto;
        }
      }
      .time{
        padding: 5px;
        border: 1px solid #3D2BA5;
        border-radius: 5px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: $primary;
        @media (max-width: 767px) {
          width: fit-content;
        }
      }
    }
    .line{
      width: 100%;
      height: 8px;
      background: $primary;
      border-radius: 20px;
      position: absolute;
      top:114px;
      @media (max-width: 767px) {
        width: 1491px;
        transform: rotate(90deg);
        top: 823px;
        left: -700px;
      }
    }
  }

}
.AdminPanel{
  @media (max-width: 767px) {
    position: relative;
  }
  .sectionH2{
    width: 624px;
    @media (max-width: 1399px) {
      width: 525px;
    }
    @media (max-width: 1199px) {
      width: 400px;
    }
    @media (max-width: 767px) {
      width: 100%;
      padding-right: 17px!important;
      padding-left: 17px!important;
    }
    h2{
      margin-bottom: 30px;
      @media (max-width: 767px) {
        text-align: center;
        margin-bottom: 365px;
      }
    }
    p{
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: black;
    }
    .blocks{
      margin-top: 30px;
      width: 521px;
      display: flex;
      flex-wrap: wrap;
      @media (max-width: 1199px) {
        width: 100%;
      }

      .planks{
        padding: 10px 15px;
        background: $primary;
        border-radius: 5px;
        color: white;
        margin-right: 10px;
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
  .panelAnim{
    width: 575px;
    @media (max-width: 1399px) {
      width: 495px;
    }
    @media (max-width: 1199px) {
      width: 460px;
    }
    @media (max-width: 767px) {
      width: 100%;
      padding-left: 17px!important;
      padding-right: 17px!important;
      position: absolute;
      top: 214px;
      margin-bottom: 30px;
      height: fit-content;
    }
    .webpage{
      @media (max-width: 1399px) {
        svg{
          width: 495px;
          height: auto;
        }
      }
      @media (max-width: 1199px) {
        width: 460px;
      }
      @media (max-width: 767px) {
        svg{
          width: 356px;
        }
      }

      .background{
          height: 340px;
          animation: background 5s alternate-reverse 2ms infinite;
      }
      @keyframes background {
        0% {
          height: 340px;
        }
        10% {
          height: 340px;
        }
        90% {
          height: 501px;
        }
        100% {
          height: 501px;
        }
      }
      .newBlock{
        opacity: 0%;
        animation: Blocks 5s alternate-reverse 2ms infinite;
      }
      @keyframes Blocks {
        0%{
          opacity: 0%;
        }
        10%{
          opacity: 0%;
        }
        90%{
          opacity: 100%;
        }
        100% {
          opacity: 100%;
        }
      }
      .Brect{
        y: 286.237;
        animation: brect 5s alternate-reverse 2ms infinite;
      }
      @keyframes brect {
        0%{
          y: 286.237;
          fill:rgb(126, 114, 192);
        }
        10%{
          y: 286.237;
          fill:none;
        }
        90%{
          y: 368.104;
          fill: none;
        }
        100%{
          y: 368.104;
          fill:rgb(126, 114, 192);
        }
      }
      .Plus{
        y:290;
        animation: Plus 5s alternate-reverse 2ms infinite;
      }
      @keyframes Plus {
        0%{
          y:293.126;
        }
        100%{
          y:374.993;
        }
      }
      .lineBottom{

        animation: lineBottom 5s alternate-reverse 2ms infinite;
      }
      @keyframes lineBottom {
        0%{
          opacity: 0;
          y: 330.104;
        }
        10%{
          opacity: 0;
          y: 330.104;
        }
        90%{
          y:490.104;
        }
        100%{
          y:490.104;
        }
      }


    }

  }
}
.OurToolkit{
  .sectionH2{
    width: 651px;
    @media (max-width: 1399px) {
      width: 525px;
    }
    @media (max-width: 1199px) {
      width: 400px;
    }
    @media (max-width: 767px) {
      width: 100%;
      padding-right: 17px!important;
      padding-left: 17px!important;
    }
    h2{
      margin-bottom: 30px;
      @media (max-width: 767px) {
        text-align: center;
      }
    }
    p{
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: black;
      margin-bottom: 1em;
    }
  }
  .clouds{
    width: 549px;
    display: flex;
    justify-content: center;
    @media (max-width: 1399px) {
      width: 495px;
    }
    @media (max-width: 1199px) {
      width: 460px;
    }
    @media (max-width: 767px) {
      margin-top: 50px;
      width: 100%;
      padding-right: 17px!important;
      padding-left: 17px!important;
    }
    .cloud{
      width: 393px;
      height: 251px;
      position: relative;
      @media (max-width: 767px) {
        width: 246px;
        height: 158px;
      }
      .items{
        position: absolute;
        svg path{
          fill: #D0D0D0;
        }
      }
      .nextjs{
        right: 1px;
        top: 90px;
        @media (max-width: 767px) {
          right: 0;
          top:57px;
          svg{
            width: 189px;
            height: 39px;
          }
        }
        &:hover{
          svg path{
            transition: fill 2s;
            fill: black;
          }
        }
      }
      .ui{
        top: 0;
        right: 43px;
        @media (max-width: 767px) {
          right: 27px;
          svg{
            width: 26px;
            height: 33px;
          }
        }
        &:hover{
          svg path{
            transition: fill 2s;
            fill: $primary;
          }
        }
      }
      .html{
        top: -8px;
        left: 178px;
        @media (max-width: 767px) {
          top: 7px;
          left: 111.64px;
          svg{
            width: 20px;
            height: 28px;
          }
        }
        svg path{
          &:nth-child(3){
            fill: #EBEBEB;
          }
        }
        &:hover{
          svg path{
            transition: fill 2s;
            &:nth-child(1){
              fill: #E44D26;
            }
            &:nth-child(2){
              fill: #F16529;
            }
            &:nth-child(3){
              fill: #EBEBEB;
            }
            &:nth-child(4){
              fill: black;
            }
            &:nth-child(5){
              fill: white;
            }
          }
        }
      }
      .figma{
        top: 9px;
        left: 0.2px;
        @media (max-width: 767px) {
          top:5px;
          svg{
            width: 42px;
            height: 63px;
          }
        }
        &:hover{
          svg path{
            transition: fill 2s;
            &:nth-child(1){
              fill: #0ACF83;
            }
            &:nth-child(2){
              fill: #A259FF;
            }
            &:nth-child(3){
              fill: #F24E1E;
            }
            &:nth-child(4){
              fill: #FF7262;
            }
            &:nth-child(5){
              fill: #1ABCFE;
            }
          }
        }
      }
      .css{
        bottom: 21px;
        left: 34px;
        @media (max-width: 767px) {
          left: 22px;
          bottom: 19px;
          svg{
            width: 20px;
            height: 28px;
          }
        }
        svg path{
          &:nth-child(3){
            fill: #EBEBEB;
          }
        }
        &:hover{
          svg path{
            transition: fill 2s;
            &:nth-child(1){
              fill: #264DE4;
            }
            &:nth-child(2){
              fill: #2965F1;
            }
            &:nth-child(3){
              fill: #EBEBEB;
            }
            &:nth-child(4){
              fill: black;
            }
            &:nth-child(5){
              fill: white;
            }
          }
        }
      }
      .ux{
        bottom: 0.5px;
        left: 147px;
        @media (max-width: 767px) {
          bottom: 1px;
          left: 92px;
          svg{
            width: 35px;
            height: 33px;
          }
        }
        &:hover{
          svg path{
            transition: fill 2s;
            fill: $primary;
          }
        }
      }
      .php{
        bottom: 0.6px;
        right: 26px;
        @media (max-width: 767px) {
          right: 16px;
          svg{
            width: 63px;
            height: 32px;
          }
        }
        &:hover{
          svg path{
            transition: fill 2s;
            fill: #0079FE;
          }
        }
      }
    }

  }
}
.indust{
  .mob{
    @media (max-width: 767px) {
      flex-direction: column-reverse;
    }
  }
  .imgBlock{
    width: 642px;
    @media (max-width: 1399px) {
      width: 495px;
    }
    @media (max-width: 1199px) {
      width: 460px;
    }
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  .sectionH2{
    width: 556px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 1399px) {
      width: 525px;
    }
    @media (max-width: 1199px) {
      width: 400px;
    }
    @media (max-width: 767px) {
      width: 100%;
      padding-right: 17px!important;
      padding-left: 17px!important;
      margin-bottom: 53px;
    }
    h2{
      margin-bottom: 30px;
      @media (max-width: 767px) {
        text-align: center;
        width: 316px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    p{
      width: 483px;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: black;
      @media (max-width: 1399px) {
        width: 100%;
      }
    }
  }
}